<%= form_for(@listing) do |f| %>
  <% if @listing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@listing.errors.count, "error") %> prohibited this listing from being saved:</h2>

      <ul>
      <% @listing.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h4>Your job listing will remain for 45 days. After 45 days your job listing will expire and be removed.</h4>
  <br/>
  <h3><b>1. Tell us about the position.</b></h3>
  <br/>

  <div class="form-group">
    <%= f.label "job title" %>
    <%= f.text_field :job_title, class: "form-control", autofocus: true, placeholder: "E.g Analytics Manager" %>
  </div>
  <div class="form-group">
    <%= f.label "Location" %>
    <%= f.text_field :job_location, class: "form-control", placeholder: "E.g London" %>
  </div>
  <div class="form-group">
    <%= f.label "Enter job description" %>
    <%= f.text_area :job_description, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label "How does the candidate apply for this position" %>
    <%= f.text_field :job_email, class: "form-control", placeholder: "E.g Send a C.V to admin@yourcompany.com" %>
  </div>

  <h3><b>2. Tell us about your company or recruitment agency</b></h3>
  <br/>

  <div class="form-group">
    <%= f.label "Your Company Name" %>
    <%= f.text_field :company_name, class: "form-control", placeholder: "E.g Google" %>
  </div>
  <div class="form-group">
    <%= f.label "Company Website" %><br>
    <%= f.text_field :company_website, class: "form-control", placeholder: "www.google.com" %>
  </div>

  <div class="form-group">
    <%= f.label "Tell Us About Your Business 25-30 chars max" %>
    <%= f.text_field :company_website, class: "form-control" %>
  </div>


  <div class="form-group">
    <%= f.label "Email address to send the reciept to" %><br>
    <%= f.text_field :company_email, class: "form-control", placeholder: "E.g John@google.com" %>
  </div>
  <div class="form-group">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
