<div class="row">
    <div class="center">
        <h1>Find a Great Job in the Web Analytics Industry</h1>
          <h3>We only show open analytics jobs to make your search easy</h3>
          <h3>Follow us on Twitter <span class="emphasis">@WorkinAnalytics</span> </h3>
          <br>
           <%= link_to "Post a job Today: $169 for 45 days", new_listing_path , class: "btn btn-danger btn-lg", data: { no_turbolink: true } %>
    </div>
</div>
<br/>


  <table class="table table-hover">
    <% @listings.each do |listing| %>
      <tr>
        <td><%= link_to listing.job_title, listing %></td>
        <td><%= listing.job_location %></td>
        <td><%= listing.company_name %></td>
        <td><%= listing.created_at.strftime("%B %-d, %Y") %></td>
        <td><%= link_to 'Show', listing %></td>
        <td><%= link_to 'Edit', edit_listing_path(listing) %></td>
        <td><%= link_to 'Destroy', listing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Listing', new_listing_path %>
